%h1
  = @student.name

%p= link_to("Study plan", course_student_plan_path(@course, @student))

%h3
  Tasks:

%table#tasks
  - @student.tasks.each do |t|
    %tr{:data => {:taskid => t.task_id}}
      %td.task= t.description
      %td.status{:class => t.completed_status_css }=  t.status
      %td.complete_link= t.edit_link(current_person)
