%h2 Participants

%ul
  - @participants.each do |participant|
    %li
      = image_tag participant.person.gravatar_url(25)
      = link_to(participant.name, participant.profile_url(@course))
      = "#{participant.role_for(@course)}"
      \-
      = link_to "Remove", course_membership_path(participant.membership_for(@course)), :method => :delete
