%h2 Participants

%ul
  - @members.each do |membership|
    %p
      = image_tag membership.person.gravatar_url(25)
      = "#{membership.person.name} // #{membership.role}"
      \-
      = link_to "Remove", course_membership_path(membership), :method => :delete
